<h2><%= l(:cfa_menu) %></h2>

<%= form_tag({:action => 'index'}, {:method => 'get'}) do %>
  <select id="user" name="user">
    <%= options_from_collection_for_select(@project.members, 'user_id', 'name', :selected => @user.id) %>
  </select>
  <br/>
  <select id="year" name="year">
    <%= options_for_select(@years, :selected => @year) %>
  </select>
  <select id="month" name="month">
    <%= options_for_select(@months, :selected => @month) %>
  </select>
  <%= submit_tag l(:cfa_show_button) %>
<% end %>

<h3><%= "#{@year}/#{@month}" %></h3>
<%= link_to l(:cfa_download_csv), :action => 'index', :format => 'csv', :year => @year, :month => @month %>
<table border="1" cellspacing="1">
<tr>
  <% @aggregator.headers.each do |header_name| %>
    <th><%= l(header_name).start_with?('translation missing:') ? header_name : l(header_name)%></th>
  <% end %>
</tr>
<% @aggregator.days.each do |aday| %>
  <tr>
  <% aday.each do |cell| %>
    <td><%= cell %></td>
  <% end %>
  </tr>
<% end %> 
<td><%= l(:cfa_table_total) %></td>
<% @sum_all.each do |hours| %>
  <td><%= hours %></td>
<% end %>
</table>


