<h2><%= l(:cfa_menu) %></h2>

<% form_tag({:action => 'index'}, {:method => 'get'}) do %>
  <%= select(:year, :id, @years, {:selected => @year}, {}) %>/
  <%= select(:month, :id, @months, {:selected => @month}, {}) %>
  <input type="hidden" name="project_id" value="<%= @project.identifier %>" />
<%= submit_tag l(:cfa_show_button) %>
<% end %>

<h3><%= "#{@year}/#{@month}" %></h3>
<table border="1" cellspacing="1">
<tr>
  <th><%= l(:cfa_table_header_date) %></th>
  <% @headers.each do |header_name| %>
    <th><%= header_name %></th>
  <% end %>
</tr>
<% @month_index.each do |aday| %>
  <tr>
  <td><%= aday %></td>
  <% @data_table[aday].each do |hours| %>
    <td><%= hours %></td>
  <% end %>
  </tr>
<% end %> 
<td><%= l(:cfa_table_total) %></td>
<% @sum_all.each do |hours| %>
  <td><%= hours %></td>
<% end %>
</table>


